* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #8a71b19e, #4cc48a7a);
}

header > img {
  margin-right: 30px;
  margin-left: 50px;
  height: 80px;
}

header > p {
  color: whitesmoke;
  font-size: 40px;
}

.memeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

input, button {
  font-size: 20px;
  width: 250px;
  margin-bottom: 5px;
}

button {
  background: #67a18fdb;
  color: whitesmoke;
  width: 90px
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img{
  width: 100%;
  
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.topText {
  top: 0; 
}

.bottomText {
  bottom: 0;
}
/**
* When larger screens are used, show form inline
*/
@media screen and (min-width: 700px) {
  .memeForm {
    flex-direction: row;
    justify-content: center;
  }
  input, button {
    font-size: 30px;
    margin-right: 5px;
  }
  header > img {
    margin-left: 0px
  }
  header > p {
    font-size: 50px;
  }
  .meme {
    width: 50%
  }
}